@import "tailwindcss";
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: block; /* reset flex */
  overflow-x: hidden; /* prevent horizontal scroll */
  background-color: #242424; /* keep your background color */
  color: rgba(255, 255, 255, 0.87);
}
